/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(
    --font-main,
    'Franklin Gothic Medium',
    'Optima',
    sans-serif
  );
  background-image: var(--gradient-main);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-min);
}

.container {
  margin: 0 auto;
  border: 2px solid var(--main-color);
  inline-size: var(--content-container-width);
}

.header {
  margin-block: var(--margin-block);
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  background-color: var(--light-color);
}

.header__wrapper {
  flex-direction: column;
  gap: 20px;
  color: var(--main-color);
  font-family: var(--font-accent, 'Impact', 'Geneva', sans-serif);
  text-transform: uppercase;
}

.title {
  font-size: var(--title-size);
}

.header__text {
  font-size: var(--header-text-size);
}

.card {
  background-color: var(--light-color);
}
