/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: 'Inter';
  --font-accent: 'PressStart2P';

  --font-weight-min: 410;
  --font-weight-max: 715;
}
