/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: 'Inter';
  --font-accent: 'PressStart2P';

  --font-weight-min: 410;
  --font-weight-max: 715;

  --font-size-main: 18px;
  --font-size-additional: 14px;

  --main-color: #000;
  --light-color: #fff;
  --accent-color: #ff0000;

  --gradient-main: repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  --content-container-width: clamp(
    23.4375rem,
    16.2852rem + 30.5164vw,
    43.75rem
  );

  --padding-block: clamp(7.5rem, 6.9231rem + 2.4615vw, 8rem);
  --margin-block: clamp(6.25rem, 6.25rem + 0vw, 6.25rem);
  --title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-text-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);

  --contour-color: var(--main-color);
  --animation-fill-color: var(--accent-color);
  --sparks-color: var(--accent-color);
}
